<h3>Informe os dados do cliente:</h3>
<div class="cliente-grid">
  <app-input label="Nome" id="nome" type="text" (valueChange)="cliente.nome = $event"></app-input>
  <app-input label="CPF" id="cpf" type="text" (valueChange)="cliente.cpf = $event"></app-input>
  <app-input label="Data de Nascimento" id="dataNascimento" type="date" (valueChange)="cliente.dataNascimento = $event"></app-input>
  <app-input label="Celular" id="celular" type="number" (valueChange)="cliente.celular = $event"></app-input>
</div>
