<div class="layout" [class.sidebar-collapsed]="!sidebar.isOpen">
  <div class="acompanhamento-solicitacao">
    <app-sidebar #sidebar></app-sidebar>

    <section class="acompanhament-content">
      <div class="welcome">
        <h2>Suas Solicitações</h2>
      </div>

      <table>
        <tr>
          <th>ID</th>
          <th>Nome do Solicitante</th>
          <th>Data da Solicitação</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
        <tbody>
          <tr *ngFor="let s of solicitacoes">
            <td>{{ s.idSolicitacao }}</td>
            <td>{{ s.nome }}</td>
            <td>{{ s.data }}</td>
            <td>
              <span class="status" [ngClass]="{
              'amarelo': s.status === 'Em análise',
              'verde': s.status === 'Aprovado',
              'vermelho': s.status === 'Negado'}">
                {{ s.status }}
              </span>
            </td>
            <td class="acoes">
              <button (click)="mostrarDetalhes(s)">🔍</button>
              <button *ngIf="s.status === 'Aprovado' || s.status === 'Negado'"
                (click)="deletarSolicitacao(s)">🗑️</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <app-modal [title]="modal.titulo" [message]="modal.mensagem" [color]="modal.cor" [show]="modal.visivel"
      (close)="fecharModal()">
    </app-modal>
  </div>
</div>