html,
body {
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body.dark-mode {
  margin: 0;
  padding: 0;
  color: #f1f1f1;
  background-color: #2c2c2c;
}

body.dark-mode .sidebar {
  background-color: #2c2c2c;
  color: #f1f1f1;
}

body.dark-mode .home-content,
body.dark-mode .solicitacao-content,
body.dark-mode .acompanhament-content,
body.dark-mode .panel,
body.dark-mode .form-container {
  background-color: #2c2c2c;
  color: #f1f1f1;
}

body.dark-mode input,
body.dark-mode mat-select,
body.dark-mode mat-form-field,
body.dark-mode textarea {
  background-color: #3c3c3c;
  color: #f1f1f1;
  border: 1px solid #555;
}

body.dark-mode table {
  color: #f1f1f1;
  border-color: #555;
}

body.dark-mode table th,
body.dark-mode table td {
  border-color: #555;
}

body.dark-mode button {
  background-color: #444;
  color: #f1f1f1;
  border: 1px solid #555;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
