<h3>Informe os dados do aparelho:</h3>
<div class="aparelho-grid">
  <app-input label="Marca" id="marca" type="text"></app-input>
  <app-input label="Modelo" id="modelo" type="text"></app-input>
  <app-input label="Nota Fiscal" id="notaFiscal" type="number"></app-input>
  <app-input label="Data da Compra" id="dataCompra" type="date"></app-input>
  <app-input label="Tipo de Defeito" id="tipoDefeito" type="text"></app-input>
  <app-input label="Descrição" id="descricao" type="text"></app-input>
</div>
