<h3>Informe os dados do aparelho:</h3>
<div class="aparelho-grid">
  <app-input label="Marca" id="marca" type="text" (valueChange)="aparelho.marca = $event"></app-input>
  <app-input label="Modelo" id="modelo" type="text" (valueChange)="aparelho.modelo = $event"></app-input>
  <app-input label="Nota Fiscal" id="notaFiscal" type="number" (valueChange)="aparelho.notaFiscal = $event"></app-input>
  <app-input label="Data da Compra" id="dataCompra" type="date" (valueChange)="aparelho.dataCompra = $event"></app-input>
  <app-input label="Tipo de Defeito" id="tipoDefeito" type="text" (valueChange)="aparelho.tipoDefeito = $event"></app-input>
  <app-input label="Descrição" id="descricao" type="text" (valueChange)="aparelho.descricao= $event"></app-input>
</div>
