.sidebar {
  margin: 10px; 
  border-radius: 20px;
  background-color: #ffffff; 
  height: 100%;
  border-right: 1px solid #e5e7eb;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  &.closed {
    width: 72px;

    .text {
      display: none !important;
    }

    ul.menu li {
      justify-content: center;
    }
  }

  &:not(.closed) {
    width: 220px;
    align-items: flex-start;
    padding-left: 12px;

    .menu li {
      justify-content: flex-start;
      gap: 12px;
    }
  }

  .toggle-btn {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 1px solid #e5e7eb;
  }

  ul.menu {
    list-style: none;
    padding: 12px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;

    li {
      display: flex;
      align-items: center;
      height: 70px;
      cursor: pointer;
      border-radius: 8px;
      padding: 0 12px;
    }

    li:hover {
      background: #9fa1a3;
    }

    .icon {
      font-size: 22px;
      line-height: 1;
      min-width: 22px;
    }

    .text {
      font-size: 14px;
      white-space: nowrap;
    }

    li:nth-last-child(2) {
      margin-top: auto;
    }

    .user{
      background-color: #8baaff;
    }
  }
}

@media (max-width: 768px) {
  app-sidebar {
    position: relative; /* volta ao fluxo normal */
    width: 100%;
    height: auto;
  }

  .solicitacao-content {
    margin-left: 0; /* ocupa largura toda */
    padding: 12px;
  }
}
