<div [class.closed]="!isOpen" class="sidebar">
  <div class="toggle-btn" (click)="toggleSidebar()">
    <span *ngIf="isOpen">&#8592;</span>
    <span *ngIf="!isOpen">&#8594;</span>
  </div>

  <ul class="menu">
    <li>
      <span class="icon">🏠︎</span>
      <span class="text" *ngIf="isOpen">Início</span>
    </li>
    <li>
      <span class="icon">✚</span>
      <span class="text" *ngIf="isOpen">Solicitar Garantia</span>
    </li>
    <li>
      <span class="icon">🖊️</span>
      <span class="text" *ngIf="isOpen">Suas Solicitações</span>
    </li>
    <li class="user">
      <span class="icon">👤</span>
      <span class="text" *ngIf="isOpen">
        {{user.name}} <br>
        <small>{{user.role}}</small>
      </span>
    </li>
    <li>
      <span class="icon">🌗</span>
      <span class="text" *ngIf="isOpen">Modo Escuro</span>
    </li>
    <li>
      <span class="icon">↪</span>
      <span class="text" *ngIf="isOpen">Sair</span>
    </li>
  </ul>
</div>
