<div [class.closed]="!isOpen" class="sidebar">
  <div class="toggle-btn" (click)="toggleSidebar()">
    <span *ngIf="isOpen">&#8592;</span>
    <span *ngIf="!isOpen">&#8594;</span>
  </div>

  <ul class="menu">
    <li [routerLink]="['/home']">
      <span class="icon">🏠︎</span>
      <span class="text" *ngIf="isOpen">Home</span>
    </li>
    <li [routerLink]="['/solicitacao']">
      <span class="icon">✚</span>
      <span class="text" *ngIf="isOpen">Solicitar Garantia</span>
    </li>
    <li [routerLink]="['/acompanhar-solicitacao']">
      <span class="icon">🖊️</span>
      <span class="text" *ngIf="isOpen">Suas Solicitações</span>
    </li>
    <li class="user">
      <span class="icon">👤</span>
      <span class="text" *ngIf="isOpen">
        {{user.nome}}
        <br>
        <small>Solicitante</small>
      </span>
    </li>
    <li (click)="toggleDarkMode()">
      <span class="icon">🌗</span>
      <span class="text" *ngIf="isOpen">Modo Escuro</span>
    </li>
    <li (click)="logout()">
      <span class="icon">↪</span>
      <span class="text" *ngIf="isOpen">Sair</span>
    </li>
  </ul>
</div>